* {
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-image: url(../images/background/NYC01_WCTHWALL.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
#wrapper {
    width: 950px;
    min-height: 780px;
    /* background-color: #cccccc; */
    margin: auto;
}
#wrapper #header {
    height: 60px;
    padding-top: 20px;
    padding-left: 10px;
    /* background-color: peru; */
}
#wrapper #header h1 {
    font-size: 35px;
    color: saddlebrown;
}
#wrapper #menu {
    height: 50px;
    background-color: rgb(190, 112, 22);
}
#wrapper #menu ul {
    list-style-type: none;
}
#wrapper #menu ul li {
    float: left;
    /* margin-right: 20px; */
    width: 130px;
    text-align: center;
}
#wrapper #menu ul li a {
    font-size: 16px;
    color: darkred;
    text-decoration: none;
    line-height: 50px;
}
#wrapper #menu ul li a:hover {
    color: yellow;
}
#wrapper #content {
    min-height: 600px;
    overflow: hidden;
    /* background-color: cyan; */
    background-color: rgba(249, 230, 35, 0.7);
}
#wrapper #content #content_left{
    width: 620px;
    min-height: 560px;
    /* background-color: grey; */
    float: left;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 10px;
    padding-bottom: 20px;
}
#wrapper #content #content_left h2 {
    font-size: 36px;
    margin-bottom: 25px;
}
#wrapper #content #content_left p img {
    width: 300px;
    height: auto;;
    float: left;
    margin-bottom: 10px;
    margin-right: 5px;
    margin-left: 5px;
}
#wrapper #content #content_left p {
    text-align: justify;
    margin-bottom: 10px;
}
#wrapper #content #content_right{
    width: 270px;
    min-height: 560px;
    /* background-color: goldenrod; */
    float: right;
    padding: 20px 20px 20px 10px;
    /* padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 20px; */
}
#wrapper #content #content_right h2 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 25px;
}
#wrapper #content #content_right img {
    width: 100%;
    height: auto;
    /* border-style: dashed;
    border-color: goldenrod; */
    border: dashed darkred; 
    border-radius: 135px;
}
#wrapper #content #content_right h3 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 10px;
}
#wrapper #content #content_right h4 {
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
}
#wrapper #content #content_right p {
    font-size: 16px;
    text-align: center;
    margin-bottom: 20px;
}
#wrapper #content #content_right #social_media {
    text-align: center;
}
#wrapper #content #content_right #social_media img {
    width: 50px;
    height: auto;
    border: none;
    margin-right: 10px;
    margin-bottom: 10px;
}
#wrapper #footer {
    height: 50px;
    background-color: darkred;
    font-size: 18px;
    color: whitesmoke;
    padding-left: 20px;
    line-height: 50px;
}